html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

#root {
  width: 100%;
  text-align: center;
}

header {
  background-color: tomato;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
}

nav {
  background-color: #ff0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

li + li {
  padding-left: 1rem;
}

a {
  text-decoration: none;
  color: #fff;
}

main {
  background-color: cornflowerblue;
  display: flex;
  padding: 1rem;
}

aside {
  width: 30%;
  background-color: coral;
}

section {
  width: 100%;
  background-color: cyan;
}

footer {
  background-color: chartreuse;
  padding: 1rem;
}

button {
  display: block;
}

.primary {
  margin-top: 1rem;
  background-color: steelblue;
  color: #fff;
  padding: 1rem 0.5rem;
  border-color: steelblue;
  border-radius: 1rem;
  cursor: pointer;
}

.primary:hover {
  opacity: 0.7;
}

.secondary {
  margin-top: 1rem;
  background-color: tomato;
  color: #fff;
  padding: 1rem 0.5rem;
  border-color: tomato;
  border-radius: 1rem;
  cursor: pointer;
}

.secondary:hover {
  opacity: 0.7;
}